<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>one.keycap.onlyfans</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onlyfans</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>one.keycap.fansly</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fansly</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>one.keycap.pornhub</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pornhub</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>iFap needs this permission to save photos from various sections of the app</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
